* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 80px;
  background-color: gray;
  padding: 0px 100px;
  position: fixed;
}

.logo img {
  position: absolute;
}
nav ul {
  float: right;
  margin-top: 40px;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a {
  color: rgb(201, 49, 22);
  font-size: 20px;
  padding: 20px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  background-image: linear-gradient(rgba(255, 115, 0, 0.849), pink);
  border-radius: 5px;
}
h2 {
  font-size: 50px;
  margin-top: 200px;
  color: rgb(112, 106, 106);
}
.orange {
  color: orangered;
}
.flexible-container {
  display: flex;
}
.half-width {
  width: 50%;
  margin-left: 30px;
}
.half-width img {
  width: 100%;
}
.btn {
  text-decoration: none;
  background-image: linear-gradient(rgb(245, 99, 46), rgb(240, 56, 50));
  text-align: center;
  padding: 20px 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgb(151, 146, 146);
}
p {
  margin: 0;
  margin-bottom: 50px;
  font-size: 20px;
  color: rgb(75, 72, 72);
}
.dream-area {
  display: flex;
  padding-top: 5%;
  background-image: linear-gradient(rgb(245, 237, 238), rgb(238, 202, 202));
}
.half-width-2 {
  width: 50%;
  padding: 0 5%;
}
.half-width-2 img {
  width: 100%;
}
h2 {
  font-size: 40px;
}
.dx {
  font-size: 50px;
  margin-top: 100px;
}
.h2x {
  font-size: 50px;
  text-align: center;
  margin-top: 5px;
}

.exp {
  text-align: center;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 10px;
}

.reshed {
  margin: 5px;
  text-align: center;
  color: gray;
  font-size: 40px;
}

.ex-area {
  width: 33.33%;
  box-shadow: 10px 10px 30px gray;
  border-radius: 20px;
  margin: 20px;
  padding: 25px;
  border-left: tomato solid;
  border-width: 7px;
}
.ex-area img {
  width: 100%;
}
.my-recipies {
  display: flex;
}
.para {
  color: gray;
  font-size: 20px;
}

.follow{
  display: flex;
  box-shadow: 10px 10px 30px gray;
  border-radius: 20px;
  margin: 7%;

}
.social-1 h2{
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 10px;
  
  
  
}
.social-1 p{
  font-size: 30px;
  color: gray;
  margin: 0;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  
}

footer {
  background-color: rgb(4, 8, 46);
  text-align: center;
}
.org {
  color: tomato;
}
.foot {
  color: white;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;
}
.fp {
  color: white;
  margin: 0;
  padding-bottom: 100px;
}
